<header>
    <h1>Paraíba Turismo</h1>
</header>

<nav class="link">
    <a href="" class="link">Passeios</a>
    <a href="" class="link">Sobre Nós</a>
    <a href="" class="link">Serviços</a>
    <a href="" class="link">Contato</a>
</nav>

<div class="sobre">
    <h1 class="titu">Sobre Nós</h1>
    <p class="paragra">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In similique et, possimus totam magni voluptas corrupti eius quo perferendis quod, fugiat, perspiciatis repellendus! Corporis, vero molestiae. Quod soluta maxime laudantium?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat temporibus fugiat odit recusandae, dolor rem reiciendis neque doloremque cupiditate quia perferendis ut fugit fuga consectetur amet maiores eaque veritatis assumenda.</p>
    <h2 class="titu">O que buscamos?</h2>
    <p class="paragra">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta eligendi nisi, debitis adipisci dolorum corrupti dicta repellat ea quibusdam iusto perferendis tenetur, atque nam omnis. Error placeat quis dolores delectus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nihil laboriosam tempore molestias, dicta ipsam quaerat blanditiis, provident, aut quia optio voluptatem distinctio omnis suscipit ut. Veniam itaque cupiditate nemo!</p>
    <h2 class="titu">Como se candidatar?</h2>
    <p class="paragra">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita possimus eligendi laboriosam placeat accusamus culpa ut aut sequi ullam architecto! Esse commodi minus vero odit libero saepe minima incidunt repellendus!Lorem</p>
</div>

<footer>
    <h3 class="footer">2024 turismo/JP</h3>
</footer>
