<header>
    <h1>Passeios</h1>
</header>

<nav class="link">
    <a href="" class="link">Passeios</a>
    <a href="" class="link">Sobre Nós</a>
    <a href="" class="link">Serviços</a>
    <a href="" class="link">Contato</a>
</nav>

<div class="categoria">
    <h2 class="categoria">Praia de Cabo Branco</h2>
    <h2 class="categoria">Parque Arruda Camara</h2>
    <h2 class="categoria">Cidade Antiga</h2>
</div>

<div class="img">
    <img class="img" src="https://images.pexels.com/photos/899186/pexels-photo-899186.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    <img class="img" src="https://i.pinimg.com/736x/e7/2b/56/e72b56138072dd7ff7b9e41bccf0e86b.jpg">
    <img class="img" src="https://i.pinimg.com/736x/6a/6c/c7/6a6cc7c62700f6b6f134e84513892327.jpg">
</div>

<div class="valores">
    <a class="valores" href="#">Valor: R$ 149,99</a>
    <a class="valores" href="#">Valor: R$129,90</a>
    <a class="valores" href="#">Valor: R$99,90</a>
</div>

<div class="categoria1">
    <h2 class="categoria1">Piscinas Naturais Seixas</h2>
    <h2 class="categoria1">Farol Cabo Branco</h2>
    <h2 class="categoria1">Parque Solon de Lucena</h2>
</div>

<div class="img2">
    <img class="img2" src="https://i.pinimg.com/736x/7a/95/e7/7a95e7c21bc9983d3a3d289611518e86.jpg">
    <img class="img2" src="https://i.pinimg.com/736x/76/29/80/762980a6620a4f54c5176f970779e948.jpg">
    <img class="img2" src="https://i.pinimg.com/736x/f1/39/2d/f1392d460d75cdf158179c76430a4413.jpg">
</div>

<div class="valores">
    <a class="valores" href="#">Valor: R$ 189,99</a>
    <a class="valores" href="#">Valor: R$89,90</a>
    <a class="valores" href="#">Valor: R$66,90</a>
</div>

<footer>
    <h3 class="footer">2024 turismo/JP</h3>
</footer>
